<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>角色列表</title>


    <!--STYLESHEET-->
    <!--=================================================-->

    <!--Open Sans Font [ OPTIONAL ]-->


    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">


    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="__STATIC__/css/nifty.min.css" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="__STATIC__/css/demo/nifty-demo-icons.min.css" rel="stylesheet">


    <!--Demo [ DEMONSTRATION ]-->
    <link href="__STATIC__/css/demo/nifty-demo.min.css" rel="stylesheet">

    <link href="__STATIC__/plugins/ionicons/css/ionicons.min.css" rel="stylesheet">


    <!--Morris.js [ OPTIONAL ]-->
    {include file='layout/top' /}

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
<div id="container" class="effect aside-float aside-bright mainnav-lg">

    <!--NAVBAR-->
    <!--===================================================-->
    {include file='layout/header' /}
    <!--===================================================-->
    <!--END NAVBAR-->

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">


            <div id="page-title">

            </div>

            <ol class="breadcrumb">
                <li><a href="{:url('Admin/Index/index')}">首页</a></li>
                <li><a href="#">权限控制</a></li>
                <li class="active">分配权限</li>
            </ol>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!--End breadcrumb-->

            <div class="panel">
                <h1 class="text-main text-center">{$group_data['title']}</h1>
                <form action="" method="post">
                    <input type="hidden" name="id" value="{$group_data['id']}">
                    <table class="table table-striped table-bordered table-hover table-condensed
                        ">
                        <!--  <?php
                             echo "<pre>";
                             print_r($rule_data);
                             echo "</pre>";
                         ?> -->
                        {foreach name="rule_data" id="v"}
                        {empty name="v['_data']"}
                        <tr class="b-group">
                            <th width="10%">
                                <label>
                                    {$v['title']}
                                    <input type="checkbox" name="rule_ids[]" value="{$v['id']}" {if condition="in_array($v['id'],$group_data['rules'])" }checked="checked" {/if} onclick="checkAll(this)" >
                                </label>
                            </th>
                            <td></td>
                        </tr>
                        {else /}
                        <tr class="b-group">
                            <th width="10%">
                                <label>
                                    {$v['title']}
                                    <input type="checkbox" name="rule_ids[]" value="{$v['id']}" {if condition="in_array($v['id'],$group_data['rules'])" }checked="checked" {/if} onclick="checkAll(this)">
                                </label>
                            </th>
                            <td class="b-child">
                                {foreach name="v['_data']" id="n"}
                                <table class="table table-striped table-bordered table-hover table-condensed">
                                    <tr class="b-group">
                                        <th width="10%">
                                            <label>
                                                {$n['title']} <input type="checkbox" name="rule_ids[]" value="{$n['id']}" {if condition="in_array($n['id'],$group_data['rules'])" }checked="checked" {/if} onclick="checkAll(this)">
                                            </label>
                                        </th>
                                        <td>
                                            {notempty name="n['_data']"}
                                            {volist name="n['_data']" id="c"}
                                            <label>
                                                &emsp;{$c['title']} <input type="checkbox" name="rule_ids[]" value="{$c['id']}" {if condition="in_array($c['id'],$group_data['rules'])"}checked="checked"{/if} >
                                            </label>
                                            {/volist}
                                            {/notempty}
                                        </td>
                                    </tr>
                                </table>
                                {/foreach}
                            </td>
                        </tr>
                        {/empty}
                        {/foreach}
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                <!-- <input class="btn btn-success" type="submit" value="提交"> -->
                                <button class="btn btn-lg btn-success btn-hover-success btn-rounded" type="submit">
                                    修改权限
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>


        {include file="layout/left" /}


    </div>


    {include file="layout/footer" /}


    <!-- SCROLL PAGE BUTTON -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->


</div>
<!--===================================================-->
<!-- END OF CONTAINER -->


<!-- SETTINGS - DEMO PURPOSE ONLY -->
<!--===================================================-->

<!--===================================================-->
<!-- END SETTINGS -->

<script>
    function checkAll(obj) {
        $(obj).parents('.b-group').eq(0).find("input[type='checkbox']").prop('checked', $(obj).prop('checked'));
    }
</script>

</body>
</html>
