<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户列表</title>

    {include file='layout/top' /}

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">
        
        <!--NAVBAR-->
        <!--===================================================-->
    {include file='layout/header' /}  
        <!--===================================================-->
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                
                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div id="page-title">
                    <!-- <h1 class="page-header text-overflow">Collapsed Navigation</h1> -->

                    <!--Searchbox-->
                    <!-- <div class="searchbox">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..">
                            <span class="input-group-btn">
                                <button class="text-muted" type="button"><i class="demo-pli-magnifi-glass"></i></button>
                            </span>
                        </div>
                    </div> -->
                </div>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->


                <!--Breadcrumb-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <ol class="breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">用户管理</a></li>
                    <li class="active">添加</li>
                </ol>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
               
                <div class="col-sm-12 table-toolbar-right">
                        <div class="form-group">


                            <form id="bdcs-search-form" autocomplete="off" class="bdcs-search-form" 
                                  method="get" action="">
                                <tr>
                                    <!-- <input type="hidden" placeholder="请输入关键词" id="bdcs-search-form-input"
                                           class="" name="keywords" autocomplete="off">
                                    <input type="hidden" value="搜索" id="bdcs-search-form-submit"
                                           class="btn btn-purple"> -->
                                </tr>
                            </form>

                        </div>

                    </div>
                <div class="panel" style="margin-left:15px;margin-top:65px;">
                    <!-- <div class="panel-heading">
                        <h3 class="panel-title">Add &amp; Remove Rows</h3>
                    </div> -->

                    <!-- Foo Table - Add & Remove Rows -->
                    <!--===================================================-->
                    <div class="panel-body"  style="margin-top:15px" >
                        <form id="demo-bv-accordion" class="form-horizontal" method="post">
                            <!--Text Input-->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="demo-text-input">登录账号</label>
                                <div class="col-md-9">
                                    <input type="text" id="demo-text-input" class="form-control" name="username" required="required">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label" for="demo-text-input">初始密码</label>
                                <div class="col-md-9">
                                    <input type="text" id="demo-text-input" class="form-control" name="password" required="required">
                                </div>
                            </div>

                            <div class="form-group pad-ver">
                                <label class="col-md-3 control-label">管理组</label>
                                <div class="col-md-9">
                                    <div class="checkbox">
                                        <!-- Inline Checkboxes -->
                                {if condition="session('admin_cate')['id'] eq 1"}
                                        {foreach name="data" item="v"}
                                        <input id="demo-form-inline-checkbox-{$v['id']}" class="magic-checkbox"  type="checkbox" name="group_ids[]"  value="{$v['id']}" >
                                        <label for="demo-form-inline-checkbox-{$v['id']}">  {$v['title']}</label>
                                        {/foreach}
                                {else /}
                                      <input id="demo-form-inline-checkbox-10" class="magic-checkbox"  disabled="disabled" type="checkbox" checked='checked' name="group_ids"  value="3" >
                                        <label for="demo-form-inline-checkbox-10"> 员工</label>
                                {/if}


                                    </div>
                                </div>
                            </div>

                            <div class="form-group pad-ver">
                                <label class="col-md-3 control-label">状态</label>
                                <div class="col-md-9">
                                    <div class="radio">
                                        <!-- Inline radio buttons -->
                                        <input id="demo-inline-form-radio-1" class="magic-radio" type="radio" checked="checked"  name="status" value="1" >
                                        <label for="demo-inline-form-radio-1">允许登录</label>
                                        <input id="demo-inline-form-radio-2"  class="magic-radio" type="radio"  name="status" value="0" >
                                        <label for="demo-inline-form-radio-2">禁止登录</label>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer text-right">
                                 <div class="form-group">
                                    <div class="col-lg-7 col-lg-offset-3">
                                        <button type="submit" class="btn btn-primary"  >提交</button>
                                    </div>
                                </div>
                               <!--  <button class="btn btn-success" type="submit">提交</button> -->
                            </div>
                        </form>
                    </div>
                    <!--===================================================-->
                    <!-- End Foo Table - Add & Remove Rows -->

                </div>
            </div>
 
                    {include file="layout/left" /}

        </div>

        

        <!-- FOOTER -->
        <!--===================================================-->
        {include file="layout/footer" /}
        <!--===================================================-->
        <!-- END FOOTER -->


        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->



    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->


    
        <!-- SETTINGS - DEMO PURPOSE ONLY -->
    <!-- END SETTINGS -->


</body>
<script>
$('document').ready(function(){
    $('#form').submit(function(){
        var password=$
    })
})
</script>
</html>
