<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>媒体类型修改</title>

    {include file='layout/top' /}

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">
        
        <!--NAVBAR-->
        <!--===================================================-->
    {include file='layout/header' /}  
        <!--===================================================-->
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                
                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div id="page-title">
                    <!-- <h1 class="page-header text-overflow">Collapsed Navigation</h1> -->

                    <!--Searchbox-->
                    <!-- <div class="searchbox">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..">
                            <span class="input-group-btn">
                                <button class="text-muted" type="button"><i class="demo-pli-magnifi-glass"></i></button>
                            </span>
                        </div>
                    </div> -->
                </div>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->


                <!--Breadcrumb-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <ol class="breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li><a href="#">媒体类型</a></li>
                    <li class="active">修改</li>
                </ol>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
               
                <div class="col-sm-12 table-toolbar-right">
                        <div class="form-group">


                            <form id="bdcs-search-form" autocomplete="off" class="bdcs-search-form" 
                                  method="get" action="">
                                <tr>
                                    <!-- <input type="hidden" placeholder="请输入关键词" id="bdcs-search-form-input"
                                           class="" name="keywords" autocomplete="off">
                                    <input type="hidden" value="搜索" id="bdcs-search-form-submit"
                                           class="btn btn-purple"> -->
                                </tr>
                            </form>

                        </div>

                    </div>
                <div class="panel" style="margin-left:15px;margin-top:65px;">
                    <!-- <div class="panel-heading">
                        <h3 class="panel-title">Add &amp; Remove Rows</h3>
                    </div> -->

                    <!-- Foo Table - Add & Remove Rows -->
                    <!--===================================================-->
                    <div class="panel-body"  style="margin-top:15px" >
                        <form id="demo-bv-accordion" class="form-horizontal" method="post" >
                            <input type="hidden" name="id" value="{$data['id']}">
                             <div class="form-group">
                                <label class="col-sm-3 control-label" for="demo-hor-inputemail">媒体名称</label>
                                <div class="col-sm-9">
                                    <input type="text" id="demo-hor-inputemail" class="form-control" name="title"
                                           required="required" value="{$data['title']}">
                                </div>
                            </div>
<!-- 
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="demo-text-input">媒体类型</label>
                                <div class="col-md-9">
                               
                                <select name="pid" class="form-control">
                                <option value="0">顶级栏目</option>
                                {foreach name="info" id="v"}
                                    <option value="{$v.id}" <?php if($v['id']==$data['id']) { echo "selected='selected'";}?> >{$v._name}</option>
                                {/foreach}
                                </select>
                                </div>
                            </div>
                             -->
                            <div class="form-group pad-ver">
                                <label class="col-md-3 control-label">状态</label>
                                <div class="col-md-9">
                                    <div class="radio">
                                        <!-- Inline radio buttons -->
                                        <input id="demo-inline-form-radio-1" class="magic-radio" type="radio" <?php if($data['status']==1){echo 'checked="checked"';} ?>   name="status" value="1" >
                                        <label for="demo-inline-form-radio-1">显示</label>
                                        <input id="demo-inline-form-radio-0"  class="magic-radio" type="radio"  name="status" value="0" <?php if($data['status']==0){echo 'checked="checked"';} ?> >
                                        <label for="demo-inline-form-radio-0">隐藏</label>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer text-right">
                                 <div class="form-group">
                                    <div class="col-lg-7 col-lg-offset-3">
                                        <button type="submit" class="btn btn-primary"  >提交</button>
                                    </div>
                                </div>
                               <!--  <button class="btn btn-success" type="submit">提交</button> -->
                            </div>
                        </form>
                    </div>
                    <!--===================================================-->
                    <!-- End Foo Table - Add & Remove Rows -->

                </div>
            </div>
 
                    {include file="layout/left" /}

        </div>

        

        <!-- FOOTER -->
        <!--===================================================-->
        {include file="layout/footer" /}
        <!--===================================================-->
        <!-- END FOOTER -->


        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->



    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->


    
        <!-- SETTINGS - DEMO PURPOSE ONLY -->
    <!-- END SETTINGS -->


</body>
<script>
$('document').ready(function(){
    $('#form').submit(function(){
        var password=$
    })
})
</script>
</html>
