<!--STYLESHEET-->
<!--=================================================-->

<!--Open Sans Font [ OPTIONAL ]-->


<!--Bootstrap Stylesheet [ REQUIRED ]-->
<link rel="stylesheet" href="../../../../public/static/css/main.css">
<link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet">
<link href="__STATIC__/css/main.css" rel="stylesheet">

<!--Nifty Stylesheet [ REQUIRED ]-->
<link href="__STATIC__/css/nifty.min.css" rel="stylesheet">
<!--白色-->

<link href="__STATIC__/css/theme-light.min.css" rel="stylesheet">

<!--Nifty Premium Icon [ DEMONSTRATION ]-->
<link href="__STATIC__/css/demo/nifty-demo-icons.min.css" rel="stylesheet">


<!--Demo [ DEMONSTRATION ]-->
<link href="__STATIC__/css/demo/nifty-demo.min.css" rel="stylesheet">

<link href="__STATIC__/plugins/ionicons/css/ionicons.min.css" rel="stylesheet">


<!--Morris.js [ OPTIONAL ]-->
<link href="__STATIC__/plugins/morris-js/morris.min.css" rel="stylesheet">


<!--Magic Checkbox [ OPTIONAL ]-->
<link href="__STATIC__/plugins/magic-check/css/magic-check.min.css" rel="stylesheet">

<link href="__STATIC__/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">

<!--Pace - Page Load Progress Par [OPTIONAL]-->
<link href="__STATIC__/plugins/pace/pace.min.css" rel="stylesheet">
<script src="__STATIC__/plugins/pace/pace.min.js"></script>


<!--jQuery [ REQUIRED ]-->
<script src="__STATIC__/js/jquery-2.2.4.min.js"></script>


<!--BootstrapJS [ RECOMMENDED ]-->
<script src="__STATIC__/js/bootstrap.min.js"></script>


<!--NiftyJS [ RECOMMENDED ]-->
<script src="__STATIC__/js/nifty.min.js"></script>


<!--Demo script [ DEMONSTRATION ]-->
<script src="__STATIC__/js/demo/nifty-demo.min.js"></script>
<script src="__STATIC__/js/echarts.common.min.js"></script>

<!--Morris.js [ OPTIONAL ]-->
<script src="__STATIC__/plugins/morris-js/morris.min.js"></script>
<script src="__STATIC__/plugins/morris-js/raphael-js/raphael.min.js"></script>


<!--Sparkline [ OPTIONAL ]-->
<script src="__STATIC__/plugins/sparkline/jquery.sparkline.min.js"></script>

<link href="__STATIC__/plugins/bootstrap-validator/bootstrapValidator.min.css" rel="stylesheet">




    
    <!--Bootstrap Validator [ OPTIONAL ]-->
    <script src="__STATIC__/plugins/bootstrap-validator/bootstrapValidator.min.js"></script>


    <!--Masked Input [ OPTIONAL ]-->
    <script src="__STATIC__/plugins/masked-input/jquery.maskedinput.min.js"></script>


    <!--Form validation [ SAMPLE ]-->
    <script src="__STATIC__/js/demo/form-validation.js"></script>

<!--Specify page [ SAMPLE ]-->
<script src="__STATIC__/js/demo/dashboard.js"></script>
<script src="__STATIC__/layer/layer.js"></script>



    <!--富文本编辑器-->
<link href="__STATIC__/plugins/summernote/summernote.min.css" rel="stylesheet">
<script src="__STATIC__/plugins/summernote/summernote.min.js"></script>
<script src="__STATIC__/js/demo/form-text-editor.js"></script>


        
